<!--Header-->
<header class="header fixed-top">
    <nav class="navbar navbar-collapse-lg navbar-light bg-white shadow-sm py-3">
        <div class="container container-link" href="http://localhost:3000/">
            <a class="navbar-brand" href="http://localhost:3000/">
                <small class="font-weight-bold mb-0 text-uppercase">Mood Digest</small>
            </a>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Body-->
<section class="py-5 header text-center text-white mt-5" id="uniqhero">
<div class="container py-5">

<!---login-->

  <div class="row text-center text-black mb-5 py-4">
        <div class="col-lg-6 mx-auto">
            <h2>Please Login Below</h2>

<%= form_tag "/please_login", method: "post" do %>
    <li>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    </li>

    <li>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    </li>

    <%= submit_tag "Login" %>

<% end %>

<%= button_to "Create New User", new_user_path, method: "get"%>

<% if flash.notice %>
    <%= flash.notice %>
<% end %>
        </div>
    </div>




